{{#if tasks}}
<table class='table table-bordered table-hover table-dark rounded'>
    <thead>
        <tr>
            <th>
                N.
            </th>
            <th>
                Task
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>
                {{@index}}
            </td>
            <td>
                {{title}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{#if done }}
                <a href='/toggleDone/{{_id}}' class='btn btn-secondary'>Uncheck</a>
                {{else}}
                <a href='/toggleDone/{{_id}}' class='btn btn-success'>Check</a>
                {{/if}}
                <a href='/delete/{{_id}}' class='btn btn-danger'>Delete</a>
                <a href='/edit/{{_id}}' class='btn btn-info'>Update</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
<div class="text-center text-white">
    <h1>There are no tasks!.</h1>
    <img src = '/icons/whitepaper.jpg' class = "w-75">
</div>
</div>
{{/if}}